@import '~@shared/styles/colors';
@import '~@shared/styles/fonts';
@import '~@shared/styles/common';

@mixin noLeftBorder {
  border-right: $borderStyle;
  border-top: $borderStyle;
  border-bottom: $borderStyle;
}

$borderStyle: 1px solid map-get($gray-palette, xxmedium);

.toggle-button {
  color: map-get($gray-palette, xxmedium);
  font-family: inherit;
  font-size: map-get($font-sizes, small);
  background-color: inherit;
  cursor: pointer;
  border: none;
  &:not(:first-child):not(:last-child) {
    @include noLeftBorder;
  }
  &:first-child {
    border: $borderStyle;
    border-radius: $standard-border-radius 0 0 $standard-border-radius;
  }
  &:last-child {
    @include noLeftBorder;
    border-radius: 0 $standard-border-radius $standard-border-radius 0;
  }
  &:hover {
    background-color: map-get($gray-palette, xlight);
    color: $primary;
  }
  &.selected {
    border: none;
    background-color: $primary;
    color: $white;
  }
  &:focus {
    outline: none;
  }
}
