@import '~@shared/styles/colors';
@import '~@shared/styles/common';

$card-shadow: 0px 3px 13px 0 rgba(231, 234, 247, 0.35);

.card-container {
  background-color: $white;
  border-radius: $standard-border-radius;
  &:first-child {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  &:last-child {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  &:not(:first-child):not(:last-child) {
    margin: 0 1rem 1rem;
  }
}
