@import '~@shared/styles/colors';

@mixin borderBottomHover {
  transition: all 0.1s;
  &:hover {
    border-bottom: 3px solid $primary;
  }
}

@mixin buttonSize {
  width: 6.4375rem;
  height: 3.5625rem;
}

.doctor-btn-panel {
  justify-content: space-between;
  &__bell-icon-btn {
    @include buttonSize;
    &__icon {
      height: 1.3125rem;
      width: 1.25rem;
      background: url('~@assets/icons/bell.png') no-repeat;
      background-size: cover;
    }
    @include borderBottomHover;
    &:hover &__icon {
      background: url('~@assets/icons/bell-hover.png') no-repeat;
      background-size: cover;
    }
  }

  &__calendar-icon-btn {
    @include buttonSize;
    &__icon {
      height: 1.25rem;
      width: 1.3125rem;
      background: url('~@assets/icons/calendar.png') no-repeat;
      background-size: cover;
    }
    @include borderBottomHover;
    &:hover &__icon {
      background: url('~@assets/icons/calendar-hover.png') no-repeat;
      background-size: cover;
    }
  }

  &__message-icon-btn {
    @include buttonSize;
    &__icon {
      height: 1.125rem;
      width: 1.25rem;
      background: url('~@assets/icons/message.png') no-repeat;
      background-size: cover;
    }
    @include borderBottomHover;
    &:hover &__icon {
      background: url('~@assets/icons/message-hover.png') no-repeat;
      background-size: cover;
    }
  }
}
