.specialists-actions-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 10.94rem;
  &__toggle-button {
    width: 12.5rem;
    height: 3.125rem;
  }
  &__search-icon {
    width: 1.25rem;
    height: 1.25rem;
    object-fit: contain;
    position: absolute;
    left: 1.125rem;
  }
}
