$standard-border-radius: 4px;
$simple-transition: all 0.3s;

@mixin commonButtonStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  border: none;
  transition: $simple-transition;
  &:focus {
    outline: none;
  }
}