$font-sizes: (
        big: 1.875rem,
        xxmedium: 1.5rem,
        xmedium: 1.1875rem,
        medium: 1rem,
        small: 0.875rem,
        xsmall: 0.75rem
);

$font-weights: (
        semi-bold: 600,
        regular: 400
)
